.react-autosuggest {
  &__input {
    position: relative;
    z-index: 4;
  }

  &__container {
    position: relative;

    &--open .react-autosuggest__suggestions-container {
      display: block;
      position: absolute;
      z-index: 3;
      top: 95%;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 0 0 4px 4px;
      border-top-width: 0;
      background-color: #fff;
    }
  }

  &__suggestions-container {
    display: none;
  }

  &__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__suggestion {
    cursor: pointer;
    padding: 10px;
    overflow: hidden;

    &--focused {
      background-color: #e6e6e6;
    }
  }
}