.phone-input {
  &__dropdown-control {
    padding: 4px 12px;
    background-color: #f9f9f9;

    img {
      width: 24px;
    }

    &--focused {
      border-color: #66afe9;
    }

    &__item {
      > a {
        padding: 3px 12px !important;
      }

      img {
        padding-right: 5px;
      }
    }

    &__caret {
      padding-left: 10px;
      color: #bbb;
    }
  }

  &__country-prefix {
    border-right: 0;
    border-left: 0;
    padding-right: 0;
    font-size: 1.2em;
    background-color: #fff;

    &--focused {
      border-color: #66afe9;
    }
  }

  &__number {
    border-left: 0;
    font-size: 1.2em;

    &--focused {
      box-shadow: none;
    }
  }
}