@import "components/phone/styles";
@import "components/profession/styles";

.signup-form {
  width: 400px;
  padding: 20px;

  &__text {
    text-align: center;
    padding: 0 20px;
  }

  label {
    text-transform: uppercase;
    color: #999;
    font-weight: normal;
    font-size: 0.9em;
    margin-top: 2em;
    margin-bottom: 0.6em;
  }

  &__first-name-wrapper {
    padding-right: 5px !important;
  }

  &__last-name-wrapper {
    padding-left: 5px !important;
  }

  &__submit-button-wrapper {
    text-align: center;
    padding-top: 2em;

    button {
      background-color: #0880fd;
      color: #fff;
      padding: 9px 15px;
      border: none;

      &:hover {
        background-color: #337ab7;
      }
    }
  }

  &__custom-input {
    box-shadow: none !important;
    height: 40px;
  }
}