//
//.react-autosuggest {
//  &__container {
//    position: relative;
//    &--open .react-autosuggest__input {
//      border-bottom-left-radius: 0;
//      border-bottom-right-radius: 0;
//    }
//    &--open .react-autosuggest__suggestions-container {
//      display: block;
//      position: absolute;
//      top: 51px;
//      width: 280px;
//      border: 1px solid #aaa;
//      background-color: #fff;
//      font-family: Helvetica, sans-serif;
//      font-weight: 300;
//      font-size: 16px;
//      border-bottom-left-radius: 4px;
//      border-bottom-right-radius: 4px;
//      z-index: 2;
//    }
//  }
//  &__input {
//    width: 240px;
//    height: 30px;
//    padding: 10px 20px;
//    font-family: Helvetica, sans-serif;
//    font-weight: 300;
//    font-size: 16px;
//    border: 1px solid #aaa;
//    border-radius: 4px;
//    &:focus {
//      outline: none;
//    }
//  }
//  &__suggestions-container {
//    display: none;
//  }
//  &__suggestions-list {
//    margin: 0;
//    padding: 0;
//    list-style-type: none;
//  }
//  &__suggestion {
//    cursor: pointer;
//    padding: 10px 20px;
//    &--focused {
//      background-color: #ddd;
//    }
//  }
//}

.phone-input {
  &__dropdown-container {
    width: 100px;
    background-color: #ccc;
    cursor: pointer;
  }

  &__dropdown-display {

  }

  &__dropdown-list {
    float: left;
    width: 100%;
    position: relative;
    display: none;
    &--show {
      display: block;
    }
  }

  &__dropdown-list-item {
    background-color: #ccc;
  }
}

.signup-form-wrapper {
  width: 380px;
  border: 1px solid red;

  .signup-form-text {
    text-align: center;
    padding: 0 20px;
  }
}

//.input-group {
//  padding: 5px 20px 5px 20px;
//  position: relative;
//  left: -16px;
//  box-sizing: border-box;
//
//  &--inline {
//    width: 50%;
//    float: left;
//  }
//  label {
//    display: block;
//    text-transform: uppercase;
//    color: #9f9f9f;
//    font-size: 0.8em;
//    font-weight: bolder;
//    margin: 2em 0 0.5em;
//  }
//  input {
//    width: 100%;
//    height: 30px;
//    padding: 5px 15px;
//    font-weight: 300;
//    font-size: 16px;
//    border: 1px solid #aaa;
//    border-radius: 4px;
//  }
//}